* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
ul {
  margin: 0;
}

.dropdown-menu {
  list-style-type: none;
  position: relative;
  width: 100px;
}

.dropdown-menu > * {
  position: absolute;
}

.invisible {
  display: none;
}

.mobile-menu {
  margin-top: 100px;
  position: relative;
  padding: 10px;
}

.hamburger {
  display: inline-block;
  position: relative;
  z-index: 2;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger > div {
  height: 4px;
  width: 25px;
  border-radius: 4px;
  background-color: black;
}

.hamburger > div:nth-child(2) {
  margin: 3px 0;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  list-style-type: none;
  background-color: rgb(238, 238, 238);
  width: 80vw;
  height: 100vh;
  z-index: 1;
  padding: 40px 10px;
}

.backdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(19, 19, 19, 0.632);
  top: 0;
  left: 0;
}